---
import BaseHead from "@/components/layouts/base-head.astro";
import ContainerDot from "@/components/layouts/ContainerDot.astro";
import TailwindIndicator from "@/components/layouts/tailwind-indicator.astro";
import Navbar from "@/components/navigation/navbar";

import { cn } from "@/lib/utils";
import "@/styles/globals.css"

type Props = {
  title: string;
  description?: string;
  mainClass?: string;
};

const { title, description, mainClass } = Astro.props;
---

<html lang="en" class="scroll-smooth">
	<head>
		<BaseHead title={title} description={description} />
	</head>
	<body class="min-h-screen bg-background text-foreground relative overflow-x-hidden">
		<ContainerDot />
		<TailwindIndicator />
		<div class="relative z-10">
			<Navbar client:load />
            <main class={cn(mainClass)}>
				<slot />
            </main>
		</div>
	</body>
</html>


